body {
  background-color: white;
}

h1 {
  color: rgb(255, 0, 137);
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
  text-align: center;
  color: rgb(255, 0, 137);
  border: 3px solid rgb(255, 0, 137);
}

